/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}

.dark-primary-color    { background: #01419f; }
.default-primary-color { background: #1976d2; }
.light-primary-color   { background: #B3E5FC; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #FF9800; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #727272; }
.divider-color         { border-color: #B6B6B6; }

.nav {background-color: #455A64 !important;}

.logo-large {
  display: block;
  margin: 0 auto;
  padding: 30px;
}

img.logo {
  padding: 10px 0 10px 0;
}

h5.header.col.s12.white-text {
  padding-bottom: 30px;
  margin-top: 0;
}

div#sub-header {
	background: #1976d2 url(../images/skyline.png) no-repeat;
	background-size:100%;
}